langchain_openai
langchain_core
python_dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
requests
python-dateutil
langchain 
python-docx
fpdf
reportlab 
chardet
pillow 
openpyxl 
pymongo
huggingface_hub
transformers
torch